version: "3.9"

services:
  web:
    build: .
    container_name: django_inventory
    working_dir: /app
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - shared_network

networks:
  shared_network:
    external: true


